.card {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 5px;
  padding: 0;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.card.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.5s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.5s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.5s;
  -o-transform-style: preserve-3d;

  transition: 0.5s;
  transform-style: preserve-3d;

  position: relative;
}

.background {
  width: 100px;
  height: 100px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
    linear-gradient(225deg, #444cf7 25%, transparent 25%),
    linear-gradient(45deg, #444cf7 25%, transparent 25%),
    linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  border-radius: 5px;
}

.front > img {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  object-position: 50% 50%;
}

.front > h1 {
  height: 100px;
  width: 100px;
  align-items: center;
  text-align: center;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: -50px;
  left: 0;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
